arduino-usbserial/*.o 
arduino-usbserial/*.d 
arduino-usbserial/*.bin
arduino-usbserial/*.sym
arduino-usbserial/*.map
arduino-usbserial/*.elf
arduino-usbserial/*.lss
arduino-usbserial/*.eep
LUFA/Drivers/*
Caterina2/*.o
Caterina2/*.d 
Caterina2/*.eep 
Caterina2/*.elf
Caterina2/*.sym
Caterina2/*.bin
Caterina2/*.lss
Caterina2/*.map
distrib
